.img-style {
  height:200px;
  border-radius: 50%;
  border: 3px solid hsl(89, 43%, 51%);
}
.technology {
  display: flex;
  flex-wrap: wrap;
}

.technology span {
  background:  #e9af1d;
  margin-right: 5px;
  margin-top: 5px;
  border-radius: 3px;
  padding: 3px 10px;
  font-size: 15px;
  height: 28px;
  color: white;
}