.contact-container {
  background-color: #252424;
}

.contact-style {
  border: 1px solid #1e54e9;
}

.contact-info {
  font-size: 15px;
}

.social-icon-style {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 3.5rem;
  width: 3.5rem;
  color: #343a40;
  border-radius: 100%;
  font-size: 1.5rem;
  margin-right: 1.5rem;
  border: 1px solid #34a853;
}

.social-icon-style:hover {
  color: #fff;
  background-color: #34a853;
}

.pl {
  padding-left: 3rem;
}
