* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}
.btn-bg {
  background-color: #008CBA;
}

.text-color{
  color: rgba(14, 241, 52, 0.993);
}